body {
  background: #FFF;
  color: var(--main-bg-color);
  font-weight: light;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#annotator-wrapper {
  width: 100%;
  max-width: 1200px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}